<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>UBS Valorem - Sistema de Gerenciamento de Armazém</title>
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="shortcut icon" href="images/logoSmall.png"/>
        <link rel="stylesheet" href="lib/font/css/font-awesome.min.css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sb-admin.css" rel="stylesheet">

    </head>
    <body>
        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sga/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sga/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sga/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sga/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            {% if user.tipo == 1%}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sga/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuários</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sga/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->

                    <div class="content-wrapper">
                        <h4 class="text mb-4" style="color: #006c3a" >SGA - ENDEREÇAMENTO</h4>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            <form  id="form"  name="form" class="form col-md-12" method="POST" enctype="multipart/form-data" >
                                <label for="codigoPalete">Código do palete:</label>
                                <input readonly="" name="codigoPalete" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigoPalete" value="{{codigoPalete}}"/>
                                <label for="embalagemMaterial" style="margin-top: 15px">Embalagem material:</label>
                                {% if tipo == 'SC' %}                                
                                    <input readonly="" name="embalagemMaterial" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="embalagemMaterial" value="SACO"/>
                                    <label style="margin-top: 15px">Saldo:</label>
                                    <input readonly="" style="margin-top: 5px;margin-left: 5px"  type="text" class="form-control" value="{{material.saldo}}"/>

                                {% elseif tipo == 'PG'%}
                                    <input readonly="" name="embalagemMaterial" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="embalagemMaterial" value="PALETE GENÉRICO"/>
                                    <div class="input-group">
                                        <div class=" col-lg-10 ">
                                            <label style="margin-top: 15px">Item:</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label style="margin-top: 15px">Saldo:</label>
                                        </div>
                                    </div>
                                    {% for mat in material %}
                                        <div class="input-group">
                                            <input readonly="" style="margin-top: 5px"  type="text" class="form-control col-md-10" value="{{mat.paleteOrigem}}"/>
                                            <input readonly="" style="margin-top: 5px;margin-left: 5px"  type="text" class="form-control col-md-2" value="{{mat.saldo}}"/>
                                        </div>    
                                    {% endfor%}
                                {% else%}
                                    <input readonly="" name="embalagemMaterial" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="embalagemMaterial" value="BAG"/>
                                    <label style="margin-top: 15px">Saldo:</label>
                                    <input readonly="" style="margin-top: 5px;margin-left: 5px"  type="text" class="form-control" value="{{material.saldo}}"/>
                                {% endif %}


                                <div id="aviso" style="margin-top: 5px"></div>
                                <label for="codigoPosicao" style="margin-top: 15px">Código da posição:</label>
                                <input autofocus="" name="codigoPosicao" type="text" step="any" min="1" class="form-control" placeholder="Use o leitor de código de barras.." id="codigoPosicao"/>


                                <button hidden="" type="submit" class="col-md-12 btn btn-primary" style="margin-top: 20px;"> <i class="fa fa-archive" aria-hidden="true"></i>

                                    Endereçar</button>
                                <a href="/sga/public_html/" class="col-md-12 btn btn-warning" style="margin-top: 20px;color: #fff"> <i class="fa fa-window-close-o" aria-hidden="true"></i>
                                    Cancelar</a>
                            </form>  
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">

                        </div
                    </div>

                </div>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-right">
                <a href="#">UBS Valorem</a> &copy; 2017
            </span>
        </div>
    </footer>                

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/tether/dist/js/tether.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/enderecamentoPalete.js" type="text/javascript"></script>

</div>
</body>
</html>
