<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>UBS Valorem - Sistema de Gerenciamento de Armazém</title>
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="shortcut icon" href="images/logoSmall.png"/>
        <link rel="stylesheet" href="lib/font/css/font-awesome.min.css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sb-admin.css" rel="stylesheet">

    </head>
    <body>
        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sga/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sga/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sga/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sga/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            {% if user.tipo == 1%}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sga/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuários</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sga/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->

                    <div class="content-wrapper">
                        <h4 class="text mb-4" style="color: #006c3a" >SGA - RETORNO DE PROCESSO</h4>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            <form  id="form"  name="form"  class="form col-md-12" method="POST" enctype="multipart/form-data" >
                                <label for="codigoOrdem">Código da Ordem de Retorno:</label>
                                <input readonly="" name="codigoOrdem" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigoOrdem" value="{{ordem}}"/>
                                <div id="aviso" style="margin-top: 5px"></div>
                                <label for="codigoPalete" style="margin-top: 15px">Código do palete:</label>
                                <input autofocus="" name="codigoPalete" required="" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigoPalete"/>
                                <button hidden="" type="submit" class="col-md-12 btn btn-primary" style="margin-top: 20px;"> <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Expedir</button>
                                <a href="/sga/public_html/" class="col-md-12 btn btn-warning" style="margin-top: 20px;color: #fff"> <i class="fa fa-window-close-o" aria-hidden="true"></i>
                                    Cancelar</a>
                            </form>  
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="modalFinalizarOrdem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Finalizar ordem</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form  id="formEditar"  name="formEditar" class="form" method="POST" enctype="multipart/form-data" >
                                <label for="codigoOrdemFinalizar">Código da Ordem de Expedição:</label>
                                <input readonly="" name="codigoOrdemFinalizar" type="text" class="form-control" placeholder="Use o leitor de código de barras.." id="codigoOrdemFinalizar" />
                                <label for="quantidade">Quantidade de BAG's retornados:</label>
                                <input  name="quantidade" type="number" required min="1"  class="form-control" placeholder="Digite a quantidade..." id="quantidade"/>
                                <button type="submit" class="col-md-12 btn btn-danger" style="margin-top: 20px;">Finalizar Ordem</button>
                            </form>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="sucessoFinalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Ordem finalizada com sucesso!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="/sga/public_html/" class="col-md-12 btn btn-danger" style="margin-top: 20px;">OK</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="sucesso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Palete retornado com sucesso!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="/sga/public_html/" class="col-md-12 btn btn-danger" style="margin-top: 20px;">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->






    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-right">
                <a href="#">UBS Valorem</a> &copy; 2017
            </span>
        </div>
    </footer>                
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/tether/dist/js/tether.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/expedicaoPaleteRetorno.js" type="text/javascript"></script>
    <script src="js/expedicaoFinalizarRetorno.js" type="text/javascript"></script>

</div>
</body>
</html>
