<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>UBS Valorem - Sistema de Gerenciamento de Armazém</title>
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="shortcut icon" href="images/logoSmall.png"/>
        <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="css/sb-admin.css" rel="stylesheet">

    </head>
    <body>
        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sga/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sga/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sga/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sga/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            {% if user.tipo == 1%}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sga/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuários</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sga/public_html/controleRetorno">
                                        <i class="fa fa-users fa-undo" aria-hidden="true"></i>
                                        <span class="menu-title">Controle de Retorno</span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/sga/public_html/relatorios">
                                        <i class="fa fa-area-chart fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Relatórios SGA</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sga/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->

                    <div class="content-wrapper">
                        <h4 class="text mb-4" style="color: #006c3a" >SGA - RELATÓRIOS</h4>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            <div class="row col-md-12"> 
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-dark  o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-archive"></i>
                                            </div>
                                            <div class="mr-5">TODOS APONTAMENTOS</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioTodosApontamentos">
                                            <span class="float-left">Todos apontamentos realizados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-success o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-location-arrow"></i>
                                            </div>
                                            <div class="mr-5">APONTAMENTO</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioPaleteApontado">
                                            <span class="float-left">Paletes apontados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-paper-plane"></i>
                                            </div>
                                            <div class="mr-5">APONTAMENTO GENÉRICO</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioPaleteApontadoGenerico">
                                            <span class="float-left">Paletes apontados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-info  o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-undo"></i>
                                            </div>
                                            <div class="mr-5">RETORNO PROCESSO</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioRetornoProcesso">
                                            <span class="float-left">BAG's retornados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 mb-3">
                                    <div class="card text-white bg-warning o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-address-card-o"></i>
                                            </div>
                                            <div class="mr-5">ENDEREÇAMENTO</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioPaleteEnderecado">
                                            <span class="float-left">Paletes endereçados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioPaleteEnderecadoGenerico">
                                            <span class="float-left">Paletes genéricos endereçados</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 mb-3">
                                    <div class="card text-white bg-danger o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-fw fa-cart-arrow-down"></i>
                                            </div>
                                            <div class="mr-5">EXPEDIÇÃO</div>
                                        </div>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioExpedicao" >
                                            <span class="float-left">Paletes expedidos</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                        <a class="card-footer text-white clearfix small z-1" href="/sga/public_html/relatorioExpedicaoGenerico">
                                            <span class="float-left">Paletes genéricos expedidos</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#modalRelatorioExpedicao" >
                                            <span class="float-left">Paletes expedidos X Ordem de expedição</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div> 

                            </div> 
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div id="gerandoRelatorio" class="modal fade " role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <br/>
                        <br/>
                        <br/>
                        <center><i class="fa fa-spinner fa-spin fa-5x"></i> </center>
                        <center>
                            Gerando relatório
                        </center>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="modalRelatorioExpedicao" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h2 >Relatório especifíco</h2>
                        </center>
                        <button type="button" class="close text-right" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <form name="formEditarVisualizarPlanoAcao" id="formEditarVisualizarPlanoAcao" action="/sga/public_html/relatorioPaletePorExpedicao" target="_blank" class="form" method="POST" >
                            <label>Código da Ordem de Expedição:</label>
                            <input type="text" required="" id="ordemExpedicao" name="ordemExpedicao" class="form-control" >
                            <div class="row" style="margin-top: 10px">

                                <a id="botaoCancelar" class="btn btn-default" href="/sga/public_html/relatorios" style="margin-left: 10px">Cancelar</a>
                                <button type="submit"  class="btn btn-success" style="margin-left: 10px" >Gerar</button>

                            </div>
                        </form>             
                    </div>

                </div>

            </div>
        </div>



        <div id="modalGerandoRelatorio" class="modal fade " role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <br/>
                        <br/>
                        <br/>
                        <center><i class="fa fa-spinner fa-spin fa-5x"></i> </center>
                        <center>
                            Gerando relatório
                        </center>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalSucessoSalvarApontamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <br/>
                        <center>
                            Apontamento realizado com sucesso!
                        </center>
                        <br/>
                        <center>
                            <a type="button" href="/sga/public_html/" class="btn btn-success">OK</a>
                        </center>
                    </div>
                </div>

            </div>

        </div>
        <div id="modalFalhaSalvarApontamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <br/>
                        <center>
                            Falha ao realizar apontamento!
                        </center>
                        <br/>
                        <center>
                            <a type="button" href="/sga/public_html/" class="btn btn-danger">OK</a>
                        </center>
                    </div>
                </div>

            </div>

        </div>
        <div id="modalApontamentoExistente" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <br/>
                        <center>
                            Atenção! Código já utilizado. Verifique o status do código!
                        </center>
                        <br/>
                        <center>
                            <a type="button" href="/sga/public_html/" class="btn btn-warning">OK</a>
                        </center>
                    </div>
                </div>

            </div>

        </div>


        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="float-right">
                    <a href="#">UBS Valorem</a> &copy; 2017
                </span>
            </div>
        </footer>                

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/tether/dist/js/tether.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="js/off-canvas.js"></script>
        <script src="js/hoverable-collapse.js"></script>
        <script src="js/misc.js"></script>
        <script src="js/chart.js"></script>
        <script src="js/maps.js"></script>
        <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            function modalGerandoRelatorio() {
                alert('oi');
                jQuery.noConflict();

                $('#gerandoRelatorio').modal();
                $('#gerandoRelatorio').modal('show');

            }
        </script>
        <script src="js/relatorio/relatorioExpedicao.js" type="text/javascript"></script>
    </div>
</body>
</html>
